@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary-color: #fafafa;
  --secondary-color: #fffef9;
  --text-color: #2c3e50;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fffef9;
  }
}

body {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.nav-wrapper,
.extended-menu,
.menu-wrapper {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
